    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          SISTEMA DE GESTION
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Inicio</p>
            </a>
          </li>

          {% if 'verProyecto' in segment %}
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">border_color</i>
              <p>Gestion del proyecto</p>
            </a>
          </li>
          {% endif %}

         
          
          {% if userSession.df_rol.id == 1 %}
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webApp:proyectos' %}">
              <i class="material-icons">developer_mode</i>
              <p>Proyectos</p>
            </a>
          </li>
          <ul>
            <li class="nav-item {% if 'crearProyecto' in segment %} active {% endif %}">
              <a class="nav-link" href="{% url 'webApp:CrearProyecto' %}">
                <i class="material-icons">add_box</i>
                <p>Crear un proyecto</p>
              </a>
            </li>
          </ul>
          <li class="nav-item {% if 'usuarios' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'webApp:usuarios' %}">
              <i class="material-icons">library_books</i>
              <p>Usuarios</p>
            </a>
          </li>
          {% endif %}



        </ul>
      </div>

    </div>
