{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}  

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Editar colaborador</h3>
    </div>

    <div class="card-body">
      <form method="post" action="{% url 'webApp:editarColaboradorProyecto' proyecto.id %}">
        <input type="text" hidden="true" name="idColaborador" value="{{colaboradores.id}}"> 
        {% csrf_token %}

        <div class="form-group">
          <h6>Colaborador</h6>
          <select class="form-control" aria-label="Default select example" name="usuario">
            <option selected disable="true" value="{{colaboradores.id}}">{{colaboradores.nombre}} {{colaboradores.apellido}}</option>
          </select>
        </div>

        <div class="form-group">
          <h6>Seleccionar rol</h6>
          <select class="form-control custom-select" aria-label="Default select example" name="rol" multiple="true">
            
            <!--<option unselected>Seleccionar rol</option> -->
            {% for rolProyecto in rolesSelect %}
              <option selected value="{{rolProyecto.id_rol}}">{{rolProyecto.nombre_rol}}</option>  
            {% endfor %}
            {% for rp in rolesNoSelect %}
              <option value="{{rp.id_rol}}">{{rp.nombre_rol}}</option>  
            {% endfor %}
          </select>
        </div>
        <a class="btn btn-danger btn-sm" href="{% url 'webApp:colaboradoresProyecto' proyecto.id %}">Cancelar</a>
        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
      </form>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}