{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Editar colaborador</h3>
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'webApp:editarColaboradorProyecto' proyecto.id %}">
        {% csrf_token %}
        <div class="form-group">
          <input type="number" class="form-control" id="recipient-name" hidden="true" name="idRol" value="{{colaboradores.id}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="recipient-name" name="colROL" value="{{colaboradores.rol}}">
        </div>
        <a class="btn btn-danger btn-sm" href="{% url 'webApp:colaboradoresProyecto' proyecto.id %}">Cancelar</a>
        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
      </form>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
