{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Colaborador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'webApp:asignarColaboradorProyecto' proyecto.id %}">
                {% csrf_token %}
                <div class="form-group">
                  <select class="form-control" aria-label="Default select example" name="usuario">
                    <option selected>Seleccionar usuario</option>
                    {% for usuario in usuarios %}
                    <option value="{{usuario.id}}">{{usuario.nombre}} {{usuario.apellido}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control" aria-label="Default select example" name="rol">
                    <option selected>Seleccionar rol</option>
                    {% for rolProyecto in rolesProyecto %}
                    <option value="{{rolProyecto.id_rol}}">{{rolProyecto.nombre_rol}}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
        </div>
      </div>
    </div>
  </div>
{% if validacionPermisos.agr_Colaborador %}
<button class="btn btn-primary " data-toggle="modal" data-target="#exampleModal"><i class="material-icons">add</i>Agregar colaborador</button>
{% endif %}  
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Colaboradores del Proyecto</h4>
                  <p class="card-category">Listado de los colaboradores del proyecto</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          
                        </th>
                        <th>
                          Nombre del Colaborador 
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Nombre del Rol 
                        </th>
                        <th>
                          Descripcion del Rol
                        </th>
                        <th>
                          Acciones
                        </th>
                      </thead>
                      <tbody>
                        {% for colaborador in colaboradores %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{colaborador.nombre}} {{colaborador.apellido}}
                          </td>
                          <td>
                            {{colaborador.email}}
                          </td>
                          <td>
                            {{colaborador.nombre_rol}}
                          </td>
                          <td>
                            {{colaborador.descripcion_rol}}
                          </td>
                          <td>
                            <form action="% url 'webApp:editarColaboradorProyecto' proyecto.id %}" method="post">
                              <a type="submit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            </form>
                            <form action="{% url 'webApp:eliminarColaboradorProyecto' proyecto.id %}" method="post">
                              {% csrf_token %}
                              <input name="idRol" type="text" hidden="true" value="{{rolProyecto.id_rol}}">
                              <a type="submit" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                              <button type="submit">Enivar</button>
                            </form>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
