{% extends "layouts/base.html" %}
{% block title %} UI Typography {% endblock %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Proyecto</title>
</head>
<body>
  {% block content %} 
<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Nuevo Proyecto</h4>
      
    </div>
    <form class="m-3">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del Proyecto</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Cliente</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" id="exampleInpu tPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descripcion</label>
        <input type="date" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        
        <select class="form-control" aria-label="Default select example">
          <option selected>Scrum Master</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
