{% extends "layouts/base.html" %}
{% block title %} UI Typography {% endblock %} 
  {% block content %} 
<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Nuevo Proyecto</h4>
      
    </div>
    <form class="m-3">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre del Proyecto</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Cliente</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" id="exampleInpu tPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Descripcion</label>
        <input type="date" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Scrum Master</label>
        <select class="form-control" aria-label="Default select example">
          <option selected>Seleccionar el Scrum Master</option>
          {% for usuario in usuarios %}
          <option value="{{usuario.id}}">{{usuario.nombre}} {{usuario.apellido}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
