{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Historial Proyecto</h3>
    </div>
    <div class="card-body p-2">
      <div class="border">
        {% for histo in historial %}
        <p class="m-0"><strong>{{histo.fecha_creacion}}</strong> - {{histo.descripcion}}</p>
      {% endfor %}
      </div>
 
    </div>
    <div class="card-body">
      <a class="btn btn-danger btn-sm" href="{% url 'webApp:verProyecto' proyecto.id %}">Volver</a>
      <a class="btn btn-success btn-sm" href="{% url 'webApp:ListHistorialPdf' proyecto.id %}" >Descargar Historial</a>
    </div>

  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}