{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}

<h2>Product BackLog</h2>
{% if validacionPermisos.crt_US and not proyecto.estado.descripcion == "CANCELADO" %}
<a class="btn btn-primary btn-sm" href="{% url 'webApp:crearUs' proyecto.id %}"><i class="material-icons">add</i>Agregar Us</a>
{% endif %}

        <div class="row my-3">
          {% for userStory in userStorys %}
          
          <div class="col-3 card card-stats m-3">
            <div class="card-header card-header-{{userStory.tipo_us.prioridad_tipo_us.color}} card-header-icon">

              
              <h3 class="card-title">{{userStory.nombre_us}}</h3>
              <p class="card-category">{{userStory.descripcion_us}}</p>
              <p class="card-category"><strong>Tipo de US</strong> {{userStory.tipo_us}}</p>

              <p class="card-category"><strong>Tiempo Estimado</strong> {{userStory.tiempoEstimado_us}} hs</p>
              <p class="card-category"><strong>Prioridad: {{userStory.prioridad_final}}</strong></p>
               
              <a class="btn btn-sm btn-second" href="{% url 'webApp:verDetallesUs' proyecto.id userStory.id %}">Ver Detalle</a>

            </div>
            <div class="card-footer">
              {% if userStory.disponible %}
              <div class="bg-success text-light p-1 rounded">
                <strong>Disponible</strong> 
              </div>
              {% else %}
              <div class="bg-danger text-light p-1 rounded">
               <strong>Asignado</strong> 
              </div>
              {% endif %}

              <!-- <div class="stats">
                <a href="{% url 'webApp:verDetallesUs' proyecto.id userStory.id %}">Detalles</a>
              </div> -->
            </div>
          </div>
          {% endfor %}

        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
