{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
{% if validacionPermisos.crt_rol %}
<a class="btn btn-primary " href="{% url 'webApp:rolesProyectoCrear' proyecto.id %}"><i class="material-icons">add</i>Agregar rol</a>
{% endif %}
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Roles del Proyecto</h4>
                  <p class="card-category">Listado de roles del proyecto</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="table" class="display" style="width:100%">
                      <thead class=" text-primary">
                        <th>
                          
                        </th>
                        <th>
                          Nombre del Rol
                        </th>
                        <th>
                          Descripcion del Rol
                        </th>
                      </thead>
                      <tbody>
                        {% for rolProyecto in rolesProyecto %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{rolProyecto.nombre_rol}}
                          </td>
                          <td>
                            {{rolProyecto.descripcion_rol}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}