{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Rol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'webApp:crearRolProyecto' proyecto.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre del Rol</label>
            <input type="text" class="form-control" id="recipient-name" name="nombre_rol">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Descripcion de rol</label>
            <input type="text" class="form-control" id="recipient-name" name="descripcion">
          </div>
          <div class="form-group">
            <select class="form-select" multiple aria-label="multiple select example" name="permisos">
              <option selected disabled>Seleccionar los permisos</option>
              {% for permiso in permisos %}
              <option value="{{permiso.id}}">{{permiso.descripcion_permiso}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% if validacionPermisos.crt_rol %}
<button class="btn btn-primary " data-toggle="modal" data-target="#exampleModal"><i
    class="material-icons">add</i>Agregar rol</button>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Roles del Proyecto</h4>
        <p class="card-category">Listado de roles del proyecto</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Nombre del Rol
              </th>
              <th>
                Descripcion del Rol
              </th>
              <th>
                Accion
              </th>
            </thead>
            <tbody>
              {% for rolProyecto in rolesProyecto %}
              <tr>
                <td>
                  {{forloop.counter}}
                </td>
                <td>
                  {{rolProyecto.nombre_rol}}
                </td>
                <td>
                  {{rolProyecto.descripcion_rol}}
                </td>
                <td>
                  <form action="{% url 'webApp:editarRolProyecto' proyecto.id %}" method="post">
                    <a type="submit" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                  </form>
                  <form action="{% url 'webApp:eliminarRolProyecto' proyecto.id %}" method="post">
                    {% csrf_token %}
                    <input name="idRol" type="text" hidden="true" value="{{rolProyecto.id_rol}}">
                    <a type="submit" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    <button type="submit">Enivar</button>
                  </form>
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
