{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
{% if validacionPermisos.agr_Colaborador_US %}
<a class="btn btn-primary btn-sm " href="{% url 'webApp:sprintColaboradorAgregar' proyecto.id sprint.id %}"><i class="material-icons">add</i>Agregar Colaborador</a>
{% endif %}

<a class="btn btn-danger btn-sm" href="{% url 'webApp:sprintProyecto' proyecto.id %}">Volver</a>


        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Colaboradores Sprint</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="table" class="display" style="width:100%">
                      <thead class=" text-primary">
                        <th>
                          
                        </th>
                        <th>
                          Nombre del Rol
                        </th>
                        <th>
                          Horas Por dia
                        </th>
                        <th>
                         Horas disponibles por Sprint
                        </th>
                      </thead>
                      <tbody>
                        {% for colaborador in colaboradores %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{colaborador.colaborador.nombre}} {{colaborador.colaborador.apellido}}
                          </td>
                          <td>
                            {{colaborador.horas}}
                          </td>
                          <td>
                            {{colaborador.horasDisponibles}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}