{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Crear nuevo tipo de US</h3>
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'webApp:crearTUSProyecto' proyecto.id %}" id="formTus">
        {% csrf_token %}
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Nombre</label>
          <input type="text" class="form-control" id="recipient-name" name="nombre">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Descripcion</label>
          <input type="text" class="form-control" id="recipient-name" name="descripcion">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Fases (Agregar las fases entre ,)</label>
          <input type="text" class="form-control" id="prueba-id" name="prueba" value="TODO, DOING, DONE">
        </div>
          <input hidden="true" type="text" name="jsonFase" id="jsonFase">
      </form>
                <!-- <button id="addRow" class="btn btn-info btn-sm"><i class="material-icons">add</i>Agregar nueva fase</button>
                <table id="tabla--fase" class="display" style="width:100%">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Orden</th>
                          <th>Eliminar</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th><input type="text" id="fase-0" name="fase-0" value="Por Hacer" class="fase"></th>
                          <th><input type="number" id="orden-0" name="orden-0" value="1" class="fase"></th>
                          <th><button class="btn btn-danger btn-sm eliminar">Eliminar</button></th>
                      </tr>
                  </tbody>
              </table> -->

              <a class="btn btn-danger btn-sm" href="{% url 'webApp:tipoUs' proyecto.id %}">Cancelar</a>
              <button type="submit" class="btn btn-primary btn-sm" id="enviar">Guardar</button>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function () {
    const t = $('#tabla--fase').DataTable({
      "dom": "ltpr"
    });
    let counter = 1;
    const form = $('#formTus');
 
    $('#addRow').on('click', function () {
        t.row.add([`<input type="text" id="fase-${counter}" name="fase-${counter}" class="fase">` , `<input type="number" id="orden-${counter}" name="orden-${counter}" class="fase">`,'<button class="btn btn-danger btn-sm eliminar">Eliminar</button>']).draw(true);
        counter++;
    });
   // $('#addRow').click();
   $('#tabla--fase tbody').on( 'click', 'button.eliminar', function () {
    t
        .row( $(this).parents('tr') )
        .remove()
        .draw();
} );
$( "#enviar" ).click(function() {
  var data = t.$('input.fase');
  const prueba = $('input#prueba-id')[0].value.split(",")
  //console.log(data);
  let arrayFase = [];
  // for (let index = 0; index < data.length; index=index+2) {
  //   arrayFase=[...arrayFase,{
  //     nombre:data[index].value,
  //     orden:data[index+1].value
  //   }]
  // }
   for (let index = 0; index < prueba.length; index++) {
    arrayFase=[...arrayFase,{
      nombre:prueba[index].trim(),
      orden:index+1
    }]
  }
  console.log(arrayFase);
  $('#jsonFase').val(JSON.stringify(arrayFase))
$( "#formTus" ).submit();
});
});
</script>
{% endblock javascripts %}