{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include 'includes/options.html' %}
{% if validacionPermisos.ctr_TipoUs %}
<a class="btn btn-primary btn-sm" href="{% url 'webApp:tipoUsCrear' proyecto.id %}"><i class="material-icons">add</i>Agregar tipo de US</a>
{% endif %}
{% if validacionPermisos.imp_TipoUs %}
<a class="btn btn-primary btn-sm" href="{% url 'webApp:tipoUsImportar' proyecto.id %}"><i class="material-icons">add</i>Importar tipo de US</a>

{% endif %}
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Tipos de US</h4>
                  <p class="card-category">Listado de tipos de US del proyecto</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="table" class="display" style="width:100%">
                      <thead class=" text-primary">
                        <th>                         
                        </th>
                        <th>
                          Nombre 
                        </th>
                        <th>
                          Descripcion 
                        </th>
                        <th>
                          Fase 
                        </th>
                        <!--<th>
                          Prioridad 
                        </th> -->
                      </thead>
                      <tbody>
                        {% for tipo in tipoUs %}
                        <tr>
                          <td>
                            {{forloop.counter}}
                          </td>
                          <td>
                            {{tipo.nombre_tipo_us}}
                          </td>
                          <td>
                            {{tipo.descripcion_tipo_us}}
                          </td>
                          <td>
                            {{tipo.fases}}
                          </td>
                          <!--<td>
                            {{tipo.prioridad_tipo_us}}
                          </td> -->
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}